.ticker {
  margin: 15% auto;
  background-color: yellow;
  line-height: 18px;
  color: yellow;
  box-shadow: 0 10px 18px -11px #555;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
}

a {
  color:#fbf5f5;
}


@media (min-width: 980px) {
  .ticker {
    width: 980px;
  }
}

.ticker .prefix {
  margin: 5px;
  padding: 10px;
}

@media (min-width: 980px) {
  .ticker .prefix {
    margin-right: 0;
    height: 40px;
  }
}

.ticker .lines {
  overflow: hidden;
  margin: 0px;
  padding: 10px;
  background-color: darkblue;
}

.ticker .lines li {
  list-style: none;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0px;
}
